  <form id="criar-texto">
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="">Titulo</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <textarea name="name" rows="8" cols="40"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-2 small-centered columns">
                            <input type="button" name="name" value="Enviar" class="button">
                        </div>
                    </div>
                </form>

